@model SuperVendas.Models.Category

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid viewIndex">
    <h1>Cadastrar Categoria</h1>
    <hr />

    <div class="row">
        <div class="col-md">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CategoryName" class="control-label mb-2"></label>
                <input asp-for="CategoryName" class="form-control mb-3" />
                <span asp-validation-for="CategoryName" class="text-danger"></span>
            </div>
                <div class="form-group">
                    <input type="submit" value="Cadastrar" class="btn btn-superVendas mt-2 w-100" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-back w-100 mt-1">Voltar</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
