@model SuperVendas.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<div class="container p-4 viewIndex text-center">
    <h1>Deletar Categoria</h1>
    <h3>Tem Certeza que deseja deletar?</h3>
    <hr />

    <table class="table col-2 table-hover">
        <tr class="row">
            <th scope="col" class="text-end col-sm-6">
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>

            <td scope="col" class="text-start col-sm-6">
                @Html.DisplayFor(model => model.CategoryName)
            </td>
        </tr>
    </table>

    <form asp-action="Delete" class="row">
        <input type="hidden" asp-for="CategoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-backDelete">Voltar</a>
    </form>
</div>

