@model SuperVendas.Models.Category

@{
    ViewData["Title"] = "Details";
}


<div class="container p-4 viewIndex text-center">
    <h1>Detalhes da Categoria</h1>

    <hr />

    <table class="table col-2 table-hover">
        <tr class="row">
            <th scope="col" class="text-end col-sm-6">
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>

            <td scope="col" class="text-start col-sm-6">
                @Html.DisplayFor(model => model.CategoryName)
            </td>
        </tr>
    </table>

    <div class="row">
        <a asp-action="Edit" class="btn btn-edit mb-1 " asp-route-id="@Model?.CategoryId">Editar</a>
        <a asp-action="Index" class="btn btn-back ">Voltar</a>
    </div>
</div>