@model SuperVendas.Models.AccessLevel

@{
    ViewData["Title"] = "Details";
}

<div class="container p-4 viewIndex text-center">
    <h1>Detalhes do Acesso</h1>
    <table class="table col-2 table-hover">
        <tr>
            <th scope="col" class="text-end col-6">
                @Html.DisplayNameFor(model => model.AccessLevelName)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.AccessLevelName)
            </td>

        </tr>

        <tr>
            <th scope="col" class="text-end">
                @Html.DisplayNameFor(model => model.AccessLevelType)
            </th>

            <td scope="col" class="text-start">
                @Html.DisplayFor(model => model.AccessLevelType)
            </td>

        </tr>
    </table>
    <div class="row">
        <a asp-action="Edit" class="btn btn-edit mb-1 " asp-route-id="@Model?.AccessLevelId">Editar</a>
        <a asp-action="Index" class="btn btn-back ">Voltar à Lista</a>
    </div>
</div>
