@model SuperVendas.Models.AccessLevel

@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid p-4 viewIndex">
    <h1>Editar Níveis de Acesso</h1>


    <hr />
    <div class="row">
        <div class="col-md">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="AccessLevelId" />
                <div class="form-group mb-3">
                    <label asp-for="AccessLevelName" class="control-label mb-1"></label>
                    <input asp-for="AccessLevelName" class="form-control" />
                    <span asp-validation-for="AccessLevelName" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="AccessLevelType" class="control-label mb-1"></label>
                    <input asp-for="AccessLevelType" class="form-control" />
                    <span asp-validation-for="AccessLevelType" class="text-danger"></span>
                </div>
                <div class="form-group mt-4">
                    <input type="submit" value="Salvar" class="btn w-100 btn-superVendas" />
                </div>
            </form>
        </div>
    </div>

    <div class="mt-1">
        <a asp-action="Index" class="btn btn-back w-100">Voltar</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
