@model SuperVendas.Models.Employee

@{
    ViewData["Title"] = "Edit";
}

<div class="container p-4 viewIndex">
    <h1>Editar Funcionário</h1>
    <hr />
    <div class="col-md">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmployeeId" />
            <div class="form-group mb-3">
                <label asp-for="ClientName" class="control-label mb-2"></label>
                <input asp-for="ClientName" class="form-control" />
                <span asp-validation-for="ClientName" class="text-danger"></span>
            </div>
            <div class="row">

                <div class="form-group col-md mb-3">
                    <label asp-for="Cpf" class="control-label mb-2"></label>
                    <input asp-for="Cpf" class="form-control" />
                    <span asp-validation-for="Cpf" class="text-danger"></span>
                </div>
                <div class="form-group col-md mb-3">
                    <label asp-for="DateOfBirth" class="control-label mb-2"></label>
                    <input asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
            </div>

            <div class="row">

                <div class="form-group col-md mb-3">
                    <label asp-for="Salary" class="control-label mb-2"></label>
                    <input asp-for="Salary" class="form-control" />
                    <span asp-validation-for="Salary" class="text-danger"></span>
                </div>
                <div class="form-group col-md mb-3">
                    <label asp-for="AdmissionalDate" class="control-label mb-2"></label>
                    <input asp-for="AdmissionalDate" class="form-control" />
                    <span asp-validation-for="AdmissionalDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mb-3">
                <label asp-for="EmployeeRole" class="control-label mb-2"></label>
                <input asp-for="EmployeeRole" class="form-control" />
                <span asp-validation-for="EmployeeRole" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <label asp-for="ContactNumber" class="control-label mb-2"></label>
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>

            <div class="row">

                <div class="form-group col-md mb-3">
                    <label asp-for="Address" class="control-label mb-2"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group col-md mb-3">
                    <label asp-for="AddressNumber" class="control-label mb-2"></label>
                    <input asp-for="AddressNumber" class="form-control" />
                    <span asp-validation-for="AddressNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-md mb-3">
                    <label asp-for="AddressLine" class="control-label mb-2"></label>
                    <input asp-for="AddressLine" class="form-control" />
                    <span asp-validation-for="AddressLine" class="text-danger"></span>
                </div>
            </div>
            <div class="row">

                <div class="form-group col-md mb-3">
                    <label asp-for="City" class="control-label col-md mb-2"></label>
                    <input asp-for="City" class="form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class="form-group col-md mb-3">
                    <label asp-for="State" class="control-label col-md mb-2"></label>
                    <input asp-for="State" class="form-control" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label mb-2"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3 form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            <div class="form-group mt-4">
                <input type="submit" value="Salvar" class="btn w-100 btn-superVendas" />
            </div>
        </form>
    </div>


    <div class="mt-1">
        <a asp-action="Index" class="btn btn-back w-100">Voltar</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
