<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SuperVendas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SuperVendas.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-superVendas border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-navSuperVendas" asp-area="" asp-controller="Home" asp-action="Index">SuperVendas</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-navSuperVendas text-uppercase" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-navSuperVendas dropdown-toggle text-uppercase" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Navegar
                            </a>
                            <ul class="dropdown-menu bg-superVendas">
                                <li><a class="dropdown-item text-navSuperVendas" asp-area="" asp-controller="Clients" asp-action="Index">Cliente</a></li>
                                <li><a class="dropdown-item text-navSuperVendas" asp-area="" asp-controller="Employees" asp-action="Index">Funcionário</a></li>
                                <li><a class="dropdown-item text-navSuperVendas" asp-area="" asp-controller="Orders" asp-action="Index">Pedido</a></li>
                                <li><a class="dropdown-item text-navSuperVendas" asp-area="" asp-controller="Products" asp-action="Index">Produtos</a></li>
                                <li><a class="dropdown-item text-navSuperVendas" asp-area="" asp-controller="Categories" asp-action="Index">Categorias</a></li>
                                <li><a class="dropdown-item text-navSuperVendas" asp-area="" asp-controller="Logins" asp-action="Index">Logins</a></li>
                                <li><a class="dropdown-item text-navSuperVendas" asp-area="" asp-controller="AccessLevels" asp-action="Index">Acessos</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-navSuperVendas text-uppercase" asp-area="" asp-controller="SalesReports" asp-action="Index">Relatórios</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>


    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2024 - SuperVendas - Desenvolvido por Alexia Henrique <a href="https://github.com/nathaliab03"><i class="bi bi-github"></i></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
